---
// src/layouts/BaseLayout.astro
import Footer from '../components/footer.astro';

const {title} = Astro.props;
const pathName = (new URL(Astro.request.url)).pathname;
const description = "Open Source Authentication and Authorization solution for your business. Easy to integrate and quick to implement with available SDKs"
const googleAnalyticsKey = import.meta.env.PUBLIC_GOOGLE_ANALYTICS_KEY;

const getPathStyle = (currentPath) => {
	const activeClass = 'text-blue-500 border-blue-500 border-b';
	const nonActiveClass = 'text-gray-800';

	return pathName === currentPath ? activeClass : nonActiveClass
}
---
<html lang="en">
	<head>
		<title>Authorizer {title ? `| ${title}` : ''}</title>
		<meta charset="UTF-8" />
		<meta name="description" content="Open Source Authentication and Authorization solution for your business. Easy to integrate and quick to implement with available SDKs" />
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
		<meta name="keywords" content="auth,auth0,authorizer,security,authorization,open-source,heroku" />
		<meta property="og:image" content="/images/logo.png" />
		<meta property="og:description" content={description} />
		<meta property="og:title" content={title} />
		<meta property="og:type" content={'website'} />
		<meta property="og:url" content={pathName || `/`} />
		<meta property="twitter:card" content="summary" />
		<meta property="twitter:creator" content="authorizer.dev" />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description}/>
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/global.css")}>
		<script src="https://kit.fontawesome.com/9f098fb7e7.js" crossorigin="anonymous"></script>
		<script async src={`https://www.googletagmanager.com/gtag/js?id=${googleAnalyticsKey}`}></script>
		<script define:vars={{googleAnalyticsKey, pathName}}>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', googleAnalyticsKey);
		</script>
	</head>
	<body>
	<div class="relative min-h-screen">
		<!-- Adds a navigation bar to every page. -->
		<div class="fixed top-0 py-3 bg-white w-full">
			<div class="max-w-6xl px-6 mx-auto sm:px-8">
				<nav class="relative flex items-center justify-center flex-wrap md:flex-nowrap md:justify-between">
					<div class="logo font-extrabold">
						<a href="/" class="flex items-center ">
							<img src="/images/logo.png" alt="logo" class="h-10" />	
							<div class="text-lg md:text-3xl ml-2 text-gray-800">Authorizer</div>
						</a>
					</div>
					<div>
						<a class={`pb-2 mr-5 hover:text-blue-500 ${getPathStyle('/features')}`} href="#features">Features</a>
						<a class={`pb-2 mr-5 hover:text-blue-500 ${getPathStyle('/about')}`} href="#about">About</a>
						<a class="pb-2 mr-5 text-gray-800 hover:text-blue-500" href="https://docs.authorizer.dev" target="_blank">Docs</a>
						<a class="text-xl text-gray-800 hover:text-blue-500 mr-5" href="https://discord.gg/Zv2D5h6kkK" target="_blank"><i class="fab fa-discord"></i></a>
						<a class="text-xl text-gray-800 hover:text-blue-500" href="https://github.com/authorizerdev/authorizer" target="_blank"><i class="fab fa-github"></i></a>
					</div>
				</nav>
			</div>
		</div>
		<!-- slot: your page content will be injected here. -->
		<slot />
		<Footer />
		</div>
	</body>
</html>
